<a href="https://colab.research.google.com/github/OyeTimmy/Linear-Regression-on-Energy-Data/blob/main/Multivariate_Multiple_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as pyplot
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="ticks", color_codes=True)
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

Viewing and Assessing the Data

In [ ]:
#Loading our Data Set from Github
Energy = pd.read_csv('https://github.com/OyeTimmy/Linear-Regression-on-Energy-Data/blob/main/energydata_complete.csv?raw=true')

In [ ]:
Energy.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [ ]:
Energy.shape

(19735, 29)

In [ ]:
Energy.describe()

         Appliances        lights  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...     24.988033     24.988033
std      102.524891      7.935988  ...     14.496634     14.496634
min       10.000000      0.000000  ...      0.005322      0.005322
25%       50.000000      0.000000  ...     12.497889     12.497889
50%       60.000000      0.000000  ...     24.897653     24.897653
75%      100.000000      0.000000  ...     37.583769     37.583769
max     1080.000000     70.000000  ...     49.996530     49.996530

[8 rows x 28 columns]

In [ ]:
Energy.dtypes

date            object
Appliances       int64
lights           int64
T1             float64
RH_1           float64
T2             float64
RH_2           float64
T3             float64
RH_3           float64
T4             float64
RH_4           float64
T5             float64
RH_5           float64
T6             float64
RH_6           float64
T7             float64
RH_7           float64
T8             float64
RH_8           float64
T9             float64
RH_9           float64
T_out          float64
Press_mm_hg    float64
RH_out         float64
Windspeed      float64
Visibility     float64
Tdewpoint      float64
rv1            float64
rv2            float64
dtype: object

In [ ]:
Energy.isna().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [ ]:
Energy.duplicated().sum()

0

In [ ]:
#Dropping Unnecessary Columns in the DataFrame 
 
Energy.drop(['lights','date'], axis=1,inplace=True)

In [ ]:
 
#Normalizing the Data with MinMaxScaler
 
scaler = MinMaxScaler()
Normalised = pd.DataFrame(scaler.fit_transform(Energy), columns=Energy.columns)
Normalised.head()

   Appliances       T1      RH_1  ...  Tdewpoint       rv1       rv2
0    0.046729  0.32735  0.566187  ...   0.538462  0.265449  0.265449
1    0.046729  0.32735  0.541326  ...   0.533937  0.372083  0.372083
2    0.037383  0.32735  0.530502  ...   0.529412  0.572848  0.572848
3    0.037383  0.32735  0.524080  ...   0.524887  0.908261  0.908261
4    0.046729  0.32735  0.531419  ...   0.520362  0.201611  0.201611

[5 rows x 27 columns]

In [ ]:
Normalised.shape

(19735, 27)

In [ ]:
Normalised.describe()

         Appliances            T1  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean       0.081958      0.517061  ...      0.499742      0.499742
std        0.095818      0.169595  ...      0.289984      0.289984
min        0.000000      0.000000  ...      0.000000      0.000000
25%        0.037383      0.419219  ...      0.249895      0.249895
50%        0.046729      0.507920  ...      0.497934      0.497934
75%        0.084112      0.613516  ...      0.751701      0.751701
max        1.000000      1.000000  ...      1.000000      1.000000

[8 rows x 27 columns]

In [ ]:
 #Split the Data into predictors (X) and target variables (y)
X = Normalised[['T2']]
y = Normalised[['T6']]
 
#Split data into training and testing set
 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)
 
reg = LinearRegression()
reg.fit(X_train, y_train)
 
pred = reg.predict(X_test)
 
#R-squared value to 2dp
round(r2_score(y_test, pred), 2)

0.64

In [ ]:
#Data split into predictors and target variables.
 
X = Normalised.drop(columns=['Appliances'])
y = Normalised['Appliances']
 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)
 
reg_multi = LinearRegression()
reg_multi.fit(X_train, y_train)
 
pred = reg_multi.predict(X_test)

In [ ]:
mae = mean_absolute_error(y_test, pred)
round(mae, 2)

0.05

The MAE is low

In [ ]:
 rss = np.sum(np.square(y_test - pred))
round(rss, 2)

In [ ]:
 rmse = np.sqrt(mean_squared_error(y_test, pred))
round(rmse, 3)

0.088

In [ ]:
r2_score_2 = r2_score(y_test, pred)
round(r2_score_2, 2)

0.15

In [ ]:
 #comparing the effects of regularisation
def get_weights_df(model, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    #weights_df[col_name] = weights_df[col_name].round(3)
    return weights_df

In [ ]:
 linear_model_weights = get_weights_df(reg_multi, X_train, 'Linear_Model_Weight')
 
linear_model_weights.sort_values('Linear_Model_Weight', ascending  = False)

In [ ]:
 #Training the Ridge model with an alpha value of 0.4
ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(X_train, y_train)
 
ridge_reg_pred = ridge_reg.predict(X_test)
 
#RMSE
ridge_rmse = np.sqrt(mean_squared_error(y_test, ridge_reg_pred))
round(ridge_rmse, 3)

0.088

In [ ]:
 # Define the Lasso model and call its fit method
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)
 
lasso_model_weights = get_weights_df(lasso_reg, X_train, 'Lasso_Model_Weight')
 
np.count_nonzero(lasso_model_weights['Lasso_Model_Weight'])

4

In [ ]:
 lasso_model = lasso_reg.predict(X_test)
 
# RMSE
lasso_rmse = np.sqrt(mean_squared_error(y_test, lasso_model))
round(lasso_rmse, 3)

0.094